<div class="row">
  <div class="col">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col">
 
<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
      Basic dropdown
  </button>

  <div class="dropdown-menu dropdown-primary">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
    
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    Description
  </div>
</div>
<div class="row">
  <div class="col">
    Ingredients
  </div>
</div>
