<mdb-navbar SideClass="navbar navbar-expand-lg navbar-expand-lg navbar-dark bg-info scrolling-navbar" [containerInside]="false">
  <logo>
      <a class="logo navbar-brand" href="#"><strong>Recipe Book</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
         
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" (click)="onSelect('recipe')">Recipes</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" (click)="onSelect('shopping-list')">Shopping List</a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item dropdown btn-group" dropdown>
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                Dropdown
            </a>
            <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
      </ul>
  </links>
</mdb-navbar>
