<div class="row">
  <div class="col-6">
    <form>
      <div class="row">
        <div class="md-form col">    
          <input type="text" id="name" class="form-control" mdbActive>
          <label for="name">Name</label>
        </div>
      
        <div class="md-form col">         
          <input type="number" id="amount" class="form-control" mdbActive>
          <label for="amount">Amount</label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-success waves-light" mdbRippleRadius type="submit">Add</button>
          <button class="btn btn-danger waves-light" type="button" mdbRippleRadius>Delete</button>
          <button class="btn btn-primary waves-light" type="button" mdbRippleRadius>Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>